<div class="container">
    <form id="contactForm">
        <div>
            <label for="contact_firstName" translate_code="support_first_name">Имя</label>
            <input id="contact_firstName" type="text" name="firstName">
        </div>
        <div>
            <label for="contact_lastName" translate_code="support_last_name">Фамилия</label>
            <input id="contact_lastName" type="text" name="lastName">
        </div>
        <div>
            <label for="contact_email" translate_code="support_email">E-mail</label>
            <input id="contact_email" type="text" name="email">
        </div>
        <div>
            <label for="contact_subject" translate_code="support_subject">Тема</label>
            <select id="contact_subject" type="text" name="subject">
                <option value="0" translate_code="support_subject_0">Other</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div>
            <label for="contact_message" translate_code="support_message">Сообщение</label>
            <textarea id="contact_message" name="message"></textarea>
        </div>
        <div class="button" translate_code="support_button_send">Отправить</div>
    </form>
</div>