/* COMMON */

body {
    margin: 0;
    min-width: 360px;
    background: url(/src/media/images/background.jpg);
    background-size: cover;
}

.no-overflow {
    overflow: hidden;
}

.container {
    min-width: 360px;
}

/* Buttons */

.button {    
    display: block;
    width: max-content;
    font-size: 18px;
    border-radius: 10px 3px 10px 3px;
    text-align: center;    
    background-color: #43f1e0;
    color: black; 
    padding: 5px 20px;
}

.button:hover {
    background-color: #b8f5ef;
    cursor: pointer;
}

.button-close {
    position: relative;
    width: 22px;
    height: 22px;
    float: right;
    margin: 10px;
    cursor: pointer;
}

.button-close::before,
.button-close::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #333;
    top: calc(50%);
    transform: rotate(45deg);
    transition: .2s ease-out;
}

.button-close::after {
    transition: .2s ease-in-out;
    transform: rotate(-45deg);
}

.button-close:hover::before {
    transform: rotate(135deg);
}

.button-close:hover::after {
    transform: rotate(45deg);
}

/* Animation */

.animation {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}

/* Error */

.error {
    border: 1px solid red;
}

/* Success */

.success {
    border: 1px solid green;
}

/* Form */

form {
    padding: 10px;
    width: 350px;
    margin: 0 auto;
}

form > div {
    margin-bottom: 15px;
}

form > div > label + * {
    margin-top: 5px;
}

input,
select {
    height: 30px;
}

input,
select,
textarea {
    width: 100%;
    max-width: 350px;
    min-width: 350px;
    font-size: 15px;
    padding: 5px 10px;
    border-width: 0px;
    border-radius: 10px 3px 10px 3px;
    background-color: #43f1e0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

input:hover,
select:hover,
textarea:hover {
    background-color: #b8f5ef;
}

select:hover {
    cursor: pointer;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #43f1e0 inset;
}