/* HEADER */

#header {
    background-color: lightgreen;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    transition-property: height;
    transition-duration: .5s;
    transition-timing-function: ease;
}

#header.scrolled {
    height: 50px;    
}

#header .container > div {
    height: 100%;
    float: left;
}

#header .container > div:nth-child(2) {
    width: 100px;
}

#header .container > div:not(:nth-child(2)) {
    width: calc(50% - 50px);
}

/* Left */

#header .container .header_left {
    display: flex;
    align-items: center;
}

#header .container .header_left .button {
    margin-left: 10px;
}