/* SIDEBAR */

#sidebar {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    border: 1px solid black;
    transition-property: left;
    transition-duration: .5s;
    transition-timing-function: ease;
}

#sidebar.close {
    left: -205px;
}

#sidebar.open {
    left: 0px;
}

#sidebar .container > div {
    width: 100%;
    min-height: 50px;
}

/* Top */

#sidebar .container .top .button {
    width: auto;
    float: right;
    padding: 5px;
    margin: 10px;
}

/* Middle */

#sidebar .container .middle li {
    list-style-type: none;   
}

/* Middle - Hovers */

#sidebar .container .middle li:hover {
    color: red;
    cursor: pointer;
}