<div class="container">
    <p translate_code="my-account">My account</p>
    <form id="my-accountForm">
        <div>
            <label for="my-account_firstName" translate_code="my-account_first_name">Имя</label>
            <input id="my-account_firstName" type="text" name="firstName">
        </div>
        <div>
            <label for="my-account_lastName" translate_code="my-account_last_name">Фамилия</label>
            <input id="my-account_lastName" type="text" name="lastName">
        </div>
        <div>
            <label for="my-account_email" translate_code="my-account_email">E-mail</label>
            <input id="my-account_email" type="text" name="email">
        </div>
    </form>
</div>