#content #books {
    width: 100%;
    display: flex;
}

#content #books .container {
    width: 100%;
}

#content #books .container .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1320px;
    margin: 0 auto;
}

#content #books .book {
    width: 200px;
    margin: 10px;
    background-color: aquamarine;
}

#content #books .book h3 {
    margin: 15px;
}

#content #books .book img {
    width: 100%;
}

#content #books .book p {
    text-align: center;
}

#content #books .container .paginationjs {
    margin: 10px 0;
}

#content #books .container .paginationjs ul {
    display: flex;
    margin: 0 auto;
    width: max-content;
    padding: 0;
}

#content #books .container .paginationjs ul li {
    margin: 5px;
}

#content #books .container .paginationjs ul li a {
    text-decoration: none;
}

#content #books .loading {
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

#content #books .loading img {
    width: 100px;
}

#content #books .loading .container {
    width: auto;
    min-width: initial;
}