#content #books {
    width: 100%;
}

#content #books .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1320px;
    margin: 0 auto;
}

#content #books .book {
    width: 200px;
    margin: 10px;
    background-color: aquamarine;
}

#content #books .book h3 {
    margin: 15px;
}

#content #books .book img {
    width: 100%;
}

#content #books .book p {
    text-align: center;
}

#content #books .loading {
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

#content #books .loading img {
    width: 100px;
}