<div class="container">
    <form id="searchForm">
        <div>
            <select id="genre" name="genre">
                <option value="" translate_code="searchbar_option_default">Не учитывать</option>
                <option value="Adventure" translate_code="searchbar_option_adventure">Приключения</option>
                <option value="Fantasy" translate_code="searchbar_option_fantasy">Фантастика</option>
            </select>
        </div>
        <div>
            <input id="searchWord" type="text" name="searchWord" translate_code="searchbar_placeholder_search" placeholder="Искать">
        </div>
        <div class="button search" translate_code="searchbar_button_search">Поиск</div>
        <div class="button reset" translate_code="searchbar_button_reset">Сбросить</div>
    </form>
</div>