<div class="container">
    <form id="searchForm">
        <div>
            <select id="genre" name="genre">
                <option value="">Не учитывать</option>
                <option value="Adventure">Приключения</option>
                <option value="Fantasy">Фантастика</option>
            </select>
        </div>
        <div>
            <input id="searchWord" type="text" name="searchWord" placeholder="Искать">
        </div>
        <div class="button search">Поиск</div>
        <div class="button reset">Сбросить</div>
    </form>
</div>