#searchbar #searchForm {
    width: max-content;
    height: 55px;
}

#searchbar #searchForm > div {
    float: left;
    margin: 10px;
}

/* Media */ 

@media screen and (max-width: 1020px) {
    #searchbar #searchForm {
        width: min-content;
        height: 150px;
    }
}