<div class="container">
    <div class="header_left">
        <div class="button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="header_center logo">
        <a href="/">
            <img src="src/media/images/logo.png" alt="logo" class="animation">
        </a>
    </div>
    <div class="header_right">
        <div class="language">
            <select id="language" name="language">
                <option value="en">English</option>
                <option value="ru">Русский</option>
            </select>
        </div>
        <div class="button login" translate_code="header_login">Login</div>
        <div class="user_panel close">
            <div class="button toggle icon-user"></div>
            <div class="user_details">
                <a href="my-account" translate_code="header_my_account">My account</a>
                <p>first name</p>
                <p>last name</p>
                <div class="button logout" translate_code="header_logout">Logout</div>
            </div>
        </div>
    </div>
</div>