<div class="container">
    <div class="header_left">
        <div class="button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="header_center logo">
        <a href="/">
            <img src="src/media/images/logo.png" alt="logo" class="animation">
        </a>
    </div>
    <div class="header_right">
        <div class="language">
            <select id="language" name="language">
                <option value="en">English</option>
                <option value="ru">Русский</option>
            </select>
        </div>
        <div class="button" translate_code="header_login">Login</div>
    </div>
</div>