<div class='container'>
    <div class="sidebar animation">
        <div class="top">
            <div class="button-close"></div>
        </div>
        <div class="middle">
            <ul>
                <li class="main"><a href="/" translate_code="sidebar_main">Главная</a></li>
                <li class="about-us"><a href="about-us" translate_code="sidebar_about_us">О нас</a></li>
                <li class="support"><a href="support" translate_code="sidebar_support">Обратная связь</a></li>
                <li class="my-account"><a href="my-account" translate_code="sidebar_my_account">My account</a></li>
            </ul>
        </div>
        <div class="bottom">
            <div class="button logout icon-logout" translate_code="sidebar_logout">Logout</div>
        </div>
    </div>
    <div class="background animation"></div>
</div>  