<div class='container'>
    <div class="sidebar animation">
        <div class="top">
            <div class="button-close"></div>
        </div>
        <div class="middle">
            <ul>
                <li><a href="/" translate_code="main">Главная</a></li>
                <li><a href="about-us" translate_code="about_us">О нас</a></li>
                <li><a href="support" translate_code="support">Обратная связь</a></li>
            </ul>
        </div>
        <div class="bottom">
            <div class="button logout" translate_code="sidebar_logout">Logout</div>
        </div>
    </div>
    <div class="background animation"></div>
</div>  