#footer {
    background-color: #0da6d8;
}

#footer .container {
    text-align: center;
    padding: 15px 25px;
}

#footer .container p.rights {
    padding-top: 20px;
    margin: 0;
}

#footer .container .links {
    padding: 20px 0;
}

#footer .container .links a {
    text-decoration: none;
    margin: 0 20px;
}

/* Media */

@media screen and (max-width: 360px) {
    
    #footer .container {
        padding: 15px 10px;
    }

}
