<div class="container">
    <div class="links">
        <a href="about-us" translate_code="footer_about_us">О нас</a>
        <a href="support" translate_code="footer_support">Обратная связь</a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus vel lacus sit amet interdum. Vestibulum gravida interdum 
       commodo. Curabitur eget neque pharetra felis sollicitudin porttitor quis sed orci. Orci varius natoque penatibus et magnis dis 
       parturient montes, nascetur ridiculus mus. Donec ac leo id turpis porttitor eleifend. Aenean lacinia libero ut dolor ultrices 
       congue. Sed euismod erat porta metus molestie, et euismod lectus mattis. Morbi vitae tristique tellus. Sed pretium molestie 
       mattis. Maecenas nec bibendum nisl. Aliquam quis fringilla mauris.</p>
    <p class="rights" translate_code="footer_all_right_reserved">Все права защищены</p>
<div>